.cp-logos {
  .title {
    margin: 0 0 20px;
    font-weight: 600;
    color: $gray-600;
  }

  .swiper {
    .swiper-wrapper {
      transition-timing-function: linear;
    }

    .swiper-slide {
      width: fit-content;
      display: inline-flex;
      align-items: center;

      img {
        display: block;
        width: auto;
        height: auto;
        max-width: 100px;
        max-height: 20px;
      }
    }
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    li {
      padding: 10px;
      display: inline-flex;
      align-items: center;

      img {
        display: block;
        width: auto;
        height: auto;
        max-width: 100px;
        max-height: 20px;
      }
    }
  }

  @include media-breakpoint-up(lg) {
    ul {
      flex-wrap: nowrap;
      justify-content: space-between;

      li {
        padding: 10px;

        img {
          max-width: 130px;
          max-height: 32px;
        }
      }
    }

    .swiper {
      .swiper-slide {
        img {
          max-width: 130px;
          max-height: 32px;
        }
      }
    }
  }

  @include media-breakpoint-up(xl) {
    .title {
      margin: 0 0 32px;
    }

    ul {
      li {
        padding: 0;
      }
    }
  }
}
