.home-reviews {
  padding: 0 0 50px;

  .block-header {
    margin: 0 0 30px;

    .swiper-controls {
      display: none;
    }

    p {
      margin: 0;
    }
  }

  .review-item {
    background: $reviews-bg;
    border-radius: 15px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    height: 100%;

    .item-logo {
      margin: 0 0 20px;
      height: 24px;

      img {
        display: block;
        max-height: 100%;
        width: auto;
      }
    }

    blockquote {
      font-style: italic;
      font-weight: 400;
      font-size: 14px;
      line-height: 1.57;
      margin: 0 0 20px;
      color: $gray-800;
    }

    .item-info {
      display: flex;
      align-items: center;
      font-size: 12px;
      color: $gray-500;
      margin-top: auto;

      figure {
        width: 48px;
        height: 48px;
        flex: 0 0 auto;
        margin: 0 10px 0 0;

        img {
          @include img-fit;
          border-radius: 100%;
        }
      }

      strong {
        display: block;
        font-weight: 600;
        font-size: 14px;
        line-height: 143%;
        color: $gray-800;
        margin: 0 0 1px;
      }
    }
  }

  .cp-logos {
    margin: 50px 0 0;

    .title {
      text-align: center;
      font-weight: 500;
    }

    ul {
      justify-content: center;
    }
  }

  @include media-breakpoint-up(md) {
    .block-header {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;

      .text {
        max-width: 65%;
      }

      .swiper-controls {
        display: flex;
      }
    }

    .swiper-pagination {
      display: none;
    }
  }

  @include media-breakpoint-up(xl) {
    padding: 0 0 95px;

    .block-header {
      margin: 0 0 62px;
    }

    .review-item {
      padding: 48px 48px 45px;

      .item-logo {
        margin: 0 0 25px;
      }

      blockquote {
        margin: 0 0 50px;
      }
    }

    .cp-logos {
      margin: 63px 0 0;

      .title {
        margin: 0 0 24px;
      }

      ul {
        li {
          padding: 0 41px;
        }
      }
    }
  }
}
