label {
  cursor: pointer;
}

.form-radio {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 12px;

  .form-label {
    margin: 0 0 0.75rem;
    width: 100%;
  }

  .btn {
    margin: 0 11px 10px 0;
  }

  input {
    &:checked {
      & + .btn {
        background-color: #d0d5dd;
      }
    }
  }
}

.form-control {
  border-width: 0 0 1px;
  letter-spacing: 0.01em;
}
